@import "tailwindcss";
@import"tw-animate";

:root {
  --background: #ffffff;
  --foreground: #271618;
  --border: #e5e7eb;
  --primary: #0eafb5;
  --hover-primary: #0b8a8f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-hover-primary: var(--hover-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: #374151;
  }
}

.font-fancy {
  font-family: 'Schoolbell', cursive;
}

*{
  font-family: 'Manrope', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}